@model Book

<div class="col-lg-4 col-md-6 col-sm-6" style=" margin-bottom: 20px; ">
	<div class="card shadow-sm">
		<div class="card-body text-center">
			<img src="~/img/@Model.ImageUrl" />
			<a asp-controller="Book"
			   asp-action="Details"
			   asp-route-id="@Model.BookId">
				<h5 style="color:black;margin-top:10px;">
					@Model.Name
					@if (Model.IsBookOfTheWeek)
					{<span class="badge badge-danger">New</span>}
				</h5>
			</a>
			<h6 class="card-text">@Model.ShortDescription</h6>
			<div class="d-flex justify-content-between align-items-center">
				<div class="btn-group">
					<a class="btn btn-primary btn-sm "
					   asp-controller="book"
					   asp-action="details"
					   asp-route-id="@Model.BookId">View</a>

					<a class="btn btn-success btn-sm"

					   asp-controller="ShoppingCart"
					   asp-action="AddToShoppingCart"
					   asp-route-bookId="@Model.BookId">
						<i class="bi bi-cart-plus"> Add to cart </i>
					</a>
				</div>
				<div class="float-right">
					<b>
						@Model.Price.ToString("c")
					</b>
				</div>
			</div>



		</div>
	</div>
</div>